<!doctype html>
<html>
    <head>
        <meta charset=""utf-8>
        <title>Email</title>
        <link href="static\css\c.css" rel="stylesheet">
    </head>
    <body>
        
        <div id="usernameDiv">
            Username: <input id="usernameInput"/>
        </div><br/>
        <div id="passwordDiv">
            Password: <input id="passwordInput"/>
        </div><br/>
        <div id="credentialsButtons">
            <button id="loginButton">Login</button>
            <button id="createAccountButton">Create Account</button>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="static/js/main.js" type="module"></script>
    </body>
</html>